// colors

$main-cta: #94e064;
$main-blue: #46b6e6;
$main-yellow: #f0e63c;
$main-red: #e6466d;
$main-pink: #f43890;

// lights
$light-cta: #c2eda7;
$light-blue: #9dd9db;
$light-yellow: #f6ef86;
$light-red: #f08ca5;
$light-pink: #ef8dbb;

// darks
$dark-cta: #68cb29;
$dark-blue: #3a9a9e;
$dark-yellow: #ccc010;
$dark-red: #c21a43;
$dark-pink: #d00c68;

$main-dark: #2e494a;
$bg-light: #fafafa;
$white: #fafafa;

$main-color: $main-pink;

// fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&subset=latin-ext');
$font-family: 'Oxygen', 'Avenir', Helvetica, Arial, sans-serif;

$font-size: 12pt;
$line-height: 120%;

$font-color-title: $main-dark;
$font-color: #3c6464;

$font-color-light: #cde0e1;
$font-color-title-light: #e6eff0;

$light-font-color-light: #cde0e1;
$light-font-color-title-light: $white;

$dark-font-color-light: #9bc1c3;
$dark-font-color-title-light: #b4cfd2;

// units

$base-unit: 16px;
$double-unit: $base-unit * 2;
$half-unit: $base-unit / 2;
$quarter-unit: $base-unit / 4;
$eight-unit: $base-unit / 8;

// guitar
$guitar-string: $dark-blue;
$inlay-bg: $light-blue;
$fret-color: $dark-font-color-title-light;
$note-color: $dark-cta;
$note-font-color: $font-color-title-light;

// nav
$nav-height: $base-unit * 3;

// footer
$footer-height: $base-unit * 7;

// trygonometry

@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}
@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}
