@import '@/assets/scss/vars.scss';

.guitar {

    color: $white;
    margin: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px grey;

    .neck {
        display: flex;
        flex-direction: row;

        // dirty hack
        p {
          margin: auto;
          display: table-cell;
          vertical-align: middle;
        }

        .tuning {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: $double-unit;
          position: relative;

          // nut wire
          &::after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: $eight-unit;
            background-color: $fret-color;
            right: calc(0px - calc(#{$eight-unit} / 2));
          }

          .nut {
              height: $base-unit + $half-unit;
              width: $base-unit + $half-unit;
              color: $main-dark;
              margin: auto;
              display: flex;
              flex-direction: column;
          }

        }

        .frets {
            flex-grow: 1;
            display: flex;
            min-width: $base-unit + $half-unit;
            justify-content: space-around;

            > .fret {
                flex-grow: 2;
                flex-basis: 0;
                display: flex;
                flex-direction: column;
                position: relative;

                &.fret3, &.fret5, &.fret7, &.fret9, &.fret15, &.fret17, &.fret19, &.fret21 {
                    &::before {
                        content: '';

                        position: absolute;
                        bottom: 0;
                        left: $quarter-unit;
                        height: 5%;
                        width: calc(100% - #{$half-unit});
                        background: $inlay-bg;
                    }
                }

                &.fret12, &.fret24 {
                  &::before {
                    content: '';
                    position: absolute;
                    left: $quarter-unit;
                    top: 0;
                    height: calc(100%);
                    width: calc(100% - #{$half-unit});
                    background-color: $inlay-bg;
                  }

                    // &::before, &::after {
                    //     content: '';
                    //
                    //     position: absolute;
                    //     top: calc(25% + #{$base-unit});
                    //     left: calc(50% - #{$half-unit});
                    //     z-index: 1;
                    //     display: block;
                    //
                    //     height: $base-unit;
                    //     width: $base-unit;
                    //     border-radius: 100%;
                    //     background: $inlay-bg;
                    // }
                    //
                    // &::after {
                    //     top: calc(75% - #{$base-unit});
                    // }
                }
            }

            > .empty-fret {
                flex-grow: 1;
            }

            .string {
                flex-grow: 1;
                flex-basis: 0;
                display: flex;
                min-height: $double-unit;
                min-width: $double-unit;
                flex-direction: column;
                justify-content: center;
                align-items: middle;
                z-index: 4;
                position: relative;

                // fret wire
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  height: 100%;
                  width: $eight-unit;
                  background-color: $fret-color;
                  right: calc(0px - calc(#{$eight-unit} / 2));
                  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
                }

                > div:not(.note) {
                    background: $guitar-string;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
                    display: block;
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                }

                > .string6 {
                    // bass string
                    height: 3.5px;
                }

                > .string5 {
                    // bass string
                    height: 3.2px;
                }

                > .string4 {
                    // bass string
                    height: 2.7px;
                }

                > .string3 {
                    // bass string
                    height: 2px;
                }

                > .string2 {
                    // bass string
                    height: 1.7px;
                }

                > .string1 {
                    // bass string
                    height: 1.5px;
                }

                .note {
                }
            }
        }
    }
}

.note {
    z-index: 3;
    color: $font-color;
    background-color: $note-color;
    height: $base-unit + $half-unit;
    width: $base-unit + $half-unit;
    margin: auto;
    text-align: center;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;

    > p {
      color: $note-font-color;
      font-size: $font-size / 1.5;
    }
}
