@import '@/assets/scss/vars.scss';
// have to fix the import for bourbon... not sure how
@import '~bourbon/core/bourbon';

#home {
    height: $base-unit * 30;
    width: 100%;
    display: flex;

  > * {
      flex-grow: 1;
  }
}
