@import '@/assets/scss/vars.scss';

#nav {
    z-index: 6;
    position: fixed;
    transition: all 0.3s;
    top: $base-unit;
    left: $base-unit;
    width: $nav-height * 3;

    > #burger-container {
        box-shadow: 0px 0px 7px rgba($main-color, .3);
        height: $nav-height;
        width: $nav-height;
        border-radius: 100%;
        z-index: 5;
        background-color: $dark-pink;
        cursor: pointer;
        position: absolute;

        > #burger {
            position: relative;
            height: $base-unit;
            width: $base-unit * 1.5;
            margin: $base-unit ($half-unit + $quarter-unit);
            z-index: 4;

            #topBar, #centralBar, #bottomBar {
                position: absolute;
                width: 100%;
                height: $eight-unit;
                background-color: $white;
                transition: all 0.3s;
            }

            #topBar {
                top: 0;
            }

            #centralBar {
                top: calc(50% - (#{$eight-unit})/2);
            }

            #bottomBar {
                bottom: 0;
            }

            &.close {
                #topBar {
                    transform: rotate(45deg);
                    top: calc(50% - (#{$eight-unit})/2);
                }

                #centralBar {
                    width: 0;
                }

                #bottomBar {
                    bottom: calc(50% - (#{$eight-unit})/2);
                    transform: rotate(-45deg);
                }
            }
        }
    }

    > #menu {
        display: block;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;
        text-align: center;

        &.active {
            top: $nav-height + $base-unit;
            height: 100%;

            > li {
                @for $i from 1 through 5 {
                    &.top-nav-height-#{$i} {
                        top: ($nav-height * $i) + ($base-unit * $i);
                    }
                }

                width: 100%;
                top: initial;
                font-weight: bold;
                display: block;
            }
        }

        display: flex;
        flex-direction: column;

        > li {
            position: absolute;
            color: $white;
            top: 0;
            transition: top 0.3s;
        }
    }

    // handling drag & drop on menu
    #dragOpen {
        height: calc(100vh - #{$nav-height});
        width: $base-unit * 5;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;

        &.active {
            z-index: 2;
        }
    }

    #dragClose {
        height: 100vh;
        position: fixed;
        width: 100vw;
        opacity: 0;
        left: 0;
        top: 0;
        transition: all 1s;
        display: none;
        background-color: rgba(0,0,0,0);

        &.active {
            opacity: 1;
            display: block;
            background-color: rgba(0,0,0,0.1);
            transition-delay: display 0.3s;
        }
    }
}
